

    <div class="carousel">
        <a class="carousel-item">
            <div class="card-panel itemMenu">
                <span class="blue-text text-darken-2">Новый проект</span>
            </div>
        </a>
        <a class="carousel-item">
            <div class="card-panel itemMenu">
                <span class="blue-text text-darken-2">Открыть проект</span>
            </div>
        </a>
        <a class="carousel-item">
            <div class="card-panel itemMenu">
                <span class="blue-text text-darken-2">Настройки сервера</span>
            </div>
        </a>
</div>

    <script>
        $('.carousel').carousel();
    </script>
<style>
    .itemMenu {
        height: 15em;
        width: 15em;
    }
</style>