<div class="dashboard">
    <a id="btnOpenProject" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-100 blue lighten-2 valign-wrapper"><span class="valign">Открыть проект</span></a>
    <a id="btnServerSettings" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-100 blue lighten-2"><span>Настройки сервера</span></a>
    <a id="btnTEst" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-100 blue lighten-2"><span>Test Json</span></a>
</div>



<style>
    .dashboard {
        position: relative;
        overflow-x: hidden;
        width: 98%;
        margin: 0 1%;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        padding: 8px;
    }

    .dashboard-item {
        color: white;
        text-align: center;
        margin: 8px;
    }

    .dashboard-item-50 {
        width: calc(50% - 16px);
    }

    .dashboard-item-100 {
        width: calc(100% - 16px);
    }


</style>