#editor-designer-view, #editor-code-view {
    position: relative;
    overflow: auto;
    /*background: yellow;*/
}

#editor-designer-view {
    padding: 8px;
}


.m0 {
    margin: 0;
}

#code-view-textarea {
    margin: 0 0 0 4px;
    border: none;
}

pre {
    margin: 0;
}
