<link href="/css/dpas.tree.css" rel="stylesheet" />
<link href="/mvc/css/prj/editor.css" rel="stylesheet" />

<div id="editor-menu">
    <ul id="editor-menu-search">
        <li class="search">
            <div class="search-wrapper card">
                <input id="search"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li>
    </ul>
    <div id="editor-menu-tree">
        <ul id="editor-menu-tree-view" class="dpas-tree">
        </ul>
    </div>
</div>

<div id="editor-content">
</div>
   
<div id="editor-add" class="modal">
    <div class="modal-content">
        <h4>Добавить</h4>
        <form id="editor-add-form" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select id="editor-add-type">
                        <option value="" disabled selected>Выберите тип</option>
                        <option value="1">Справочник</option>
                        <option value="2">Данные</option>
                    </select>
                    <label>Тип</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="editor-add-name" name="addName" type="text" class="validate">
                    <label for="editor-add-name">Имя</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info_outline</i>
                    <input id="editor-add-description" name="addDescription" type="text" class="validate">
                    <label for="editor-add-description">Описание</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="editor-add-cancel" class="modal-action waves-effect btn-flat btn-margin8">Отмена</button>
                <button class="modal-action waves-effect btn-flat btn-margin8" type="submit" name="add">Создать</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/dpas.tree.js"></script>

