<link href="/mvc/css/prj/editor-class.css" rel="stylesheet" />

<div class="row">
    <ul id="editor-tabs" class="tabs">
        <li class="tab col s6"><a href="#editor-designer-view">Дизайнер</a></li>
        <li class="tab col s6"><a href="#editor-code-view">Код</a></li>
    </ul>

    <div id="editor-designer-view">
        <div id="editor-designer-view-buttons" class="fixed-action-btn horizontal" style="height: 4em; position: static; padding:0;">
            <a class="btn-floating btn-large amber darken-2">
                <i class="large material-icons">mode_edit</i>
            </a>
            <span id="editor-designer-view-header"></span>
            <ul style="margin: 0; padding-left: 4em; position: relative; height: 4em; transform: translateY(-6.25em); text-align:center">
                <li><a class="btn-floating blue darken-2" id="editor-designer-view-button-add"><i class="material-icons">add</i></a></li>
                <li><a class="btn-floating blue darken-2 disabled" id="editor-designer-view-button-del"><i class="material-icons">remove</i></a></li>
                <li><a class="btn-floating blue darken-2 disabled" id="editor-designer-view-button-copy"><i class="material-icons">content_copy</i></a></li>
                <li><a class="btn-floating green darken-2 disabled" id="editor-designer-view-button-save"><i class="material-icons">done</i></a></li>
                <li><a class="btn-floating red disabled" id="editor-designer-view-button-cancel"><i class="material-icons">clear</i></a></li>
            </ul>
        </div>
        <div id="div-table-fields" style="overflow:auto;">
            <table id="table-fields" class="highlight" >
                <thead>
                    <tr>
                        <th data-field="Name">Имя</th>
                        <th data-field="TypeName">Тип</th>
                        <th data-field="Description">Описание</th>
                    </tr>
                </thead>

                <tbody id="table-fields-body">
                    
                </tbody>
            </table>
        </div>
    </div>

    <div id="editor-code-view">
        <textarea id="code-view-textarea" class="materialize-textarea">
            class Record
            {
            }
        </textarea>
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large amber darken-2">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating green darken-2"><i class="material-icons">done</i></a></li>
                <li><a class="btn-floating red"><i class="material-icons">clear</i></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="editor-add-field" class="modal">
    <div class="modal-content">
        <h4>Добавить</h4>
        <form id="editor-add-field-form" class="col s12">
            <div class="row" style="margin-bottom:0;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    <select id="editor-add-field-type">
                        <option value="0" selected>Строка</option>
                        <option value="1">Целое</option>
                        <option value="2">Вещестенное</option>
                        <option value="3">Логическое</option>
                        <option value="4">Дата</option>
                        <option value="5">Класс</option>
                    </select>
                    <label for="editor-add-field-name">Тип</label>
                </div>
            </div>
            <div class="row" style="margin-bottom:0;display:none;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    <select id="editor-add-field-type-name">
                        <option value="0" selected>Строка</option>
                        <option value="1">Целое</option>
                        <option value="2">Вещестенное</option>
                        <option value="3">Логическое</option>
                        <option value="4">Дата</option>
                        <option value="5">Класс</option>
                    </select>
                    <label for="editor-add-field-name">Тип</label>
                </div>
            </div>
            <div class="row"  style="margin-bottom:0;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">short_text</i>
                    <input id="editor-add-field-name" name="addName" type="text" class="validate">
                    <label for="editor-add-field-name">Имя</label>
                </div>
            </div>
            <div class="row"  style="margin-bottom:0;">
                <div class="input-field col s12">
                    <i class="material-icons prefix">wrap_text</i>
                    <input id="editor-add-field-description" name="addDescription" type="text" class="validate">
                    <label for="editor-add-field-description">Описание</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="editor-add-field-cancel" class="modal-action waves-effect btn-flat btn-margin8">Отмена</button>
                <button id="editor-add-field-apply" class="modal-action waves-effect btn-flat btn-margin8">Применить</button>
            </div>
        </form>
    </div>
</div>

