<script src="/mvc/controller/prj/editor-helpers.js"></script>

<ul id="list-projects" class="collection">
</ul>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating blue darken-2" id="list-button-add"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue darken-2 disabled" id="list-button-del"><i class="material-icons">remove</i></a></li>
    </ul>
</div>

<div id="modal-prj-name" class="modal">
    <div class="modal-content">
        <h4>Новый проект</h4>
        <form id="modal-prj-form" class="col s12" action="api/prj" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="prjName" name="prjName" placeholder="Укажите имя проекта" type="text" class="validate">
                    <label for="prjName">Имя проекта</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info_outline</i>
                    <input id="prjDescription" name="prjDescription" placeholder="Краткое описание проекта" type="text" class="validate">
                    <label for="prjDescription">Комментарий</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-prj-name-cancel" class="modal-action waves-effect btn-flat btn-margin8">Отмена</button>
                <button class="modal-action waves-effect btn-flat btn-margin8" type="submit" name="new">Создать</button>
            </div>
        </form>
    </div>
</div>

<script id="list-projects-item-template" type="text/x-dpas-tmpl">
    <li id="{Code}" data-id="{Code}" data-name="{Name}" class="collection-item avatar">
        <span class="title"><b>{Name}</b></span>
        <p>
            <i>{Description}</i>
        </p>
        <a href="#!" id="open-{Code}" data-id="{Code}" class="secondary-content right"><i class="material-icons small">send</i></a>
    </li>
</script>

