html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.dpas-header {
    width: 100%;
    background: #ff9800;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.dpas-content-header {
    height: 45px;
}

.dpas-content {
    width: 100%; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
}

.dpas-footer {
    width: 100%;
    background: #ff9800;
    padding: 3px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}
