<link href="/css/dpas.tree.css" rel="stylesheet" />
<link href="/mvc/css/prj/editor.css" rel="stylesheet" />

<div id="editor-menu">
    <ul id="editor-menu-search">
        <li class="search">
            <div class="search-wrapper card">
                <input id="search"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li>
    </ul>
    <div id="editor-menu-buttons">
        <a class="btn-floating blue darken-2 btn-small" id="editor-menu-button-add"><i class="small material-icons">add</i></a>
        <a class="btn-floating blue darken-2 btn-small" id="editor-menu-button-del"><i class="small material-icons">remove</i></a>
    </div>
    <div id="editor-menu-tree">
        <ul id="editor-menu-tree-view" class="dpas-tree">
        </ul>
    </div>
</div>

<div id="editor-content">
</div>
   

<script type="text/javascript" src="/js/dpas.tree.js"></script>

