<link href="/mvc/css/prj/editor-class.css" rel="stylesheet" />

<div class="row">
    <ul id="editor-tabs" class="tabs">
        <li class="tab col s6"><a href="#editor-designer-view">Дизайнер</a></li>
        <li class="tab col s6"><a href="#editor-code-view">Код</a></li>
    </ul>

    <div id="editor-designer-view">
        <div id="editor-menu-buttons" style="margin-top:0;">
            <a class="btn-floating blue darken-2 btn-small" id="editor-designer-view-button-add"><i class="small material-icons">add</i></a>
            <a class="btn-floating blue darken-2 btn-small" id="editor-designer-view-button-del"><i class="small material-icons">remove</i></a>
        </div>

        <ul class="collection">
            <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>
                    First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Title</span>
                <p>
                    First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large amber darken-2">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating blue darken-2"><i class="material-icons">add</i></a></li>
                <li><a class="btn-floating blue darken-2"><i class="material-icons">remove</i></a></li>
                <li><a class="btn-floating blue darken-2"><i class="material-icons">content_copy</i></a></li>
                <li><a class="btn-floating green darken-2"><i class="material-icons">done</i></a></li>
                <li><a class="btn-floating red"><i class="material-icons">clear</i></a></li>
            </ul>
        </div>
    </div>

    <div id="editor-code-view">
        <textarea id="code-view-textarea" class="materialize-textarea">
            class Record
            {
            }
        </textarea>
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large amber darken-2">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating green darken-2"><i class="material-icons">done</i></a></li>
                <li><a class="btn-floating red"><i class="material-icons">clear</i></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="editor-add-field" class="modal">
    <div class="modal-content">
        <h4>Добавить</h4>
        <form id="editor-add-field-form" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select id="editor-add-field-type">
                        <option value="" disabled selected>Выберите тип</option>
                        <option value="1">Справочник</option>
                        <option value="2">Данные</option>
                    </select>
                    <label for="editor-add-field-name">Тип</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="editor-add-field-name" name="addName" type="text" class="validate">
                    <label for="editor-add-field-name">Имя</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info_outline</i>
                    <input id="editor-add-field-description" name="addDescription" type="text" class="validate">
                    <label for="editor-add-field-description">Описание</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="editor-add-field-cancel" class="modal-action waves-effect btn-flat btn-margin8">Отмена</button>
                <button class="modal-action waves-effect btn-flat btn-margin8" type="submit" name="add">Создать</button>
            </div>
        </form>
    </div>
</div>

