<div id="editor-menu">
    <ul>
        <li>
            <div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
</div>
<div id="editor-content">
    <div>
        <a id="btnMainMenu" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-50 blue lighten-2 valign-wrapper"><span class="valign">Главное меню</span></a>
    </div>
    <div>
        <a id="" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-50 blue lighten-2 valign-wrapper"><span class="valign">Главное меню</span></a>
    </div>
    <div>
        <a id="" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-50 blue lighten-2 valign-wrapper"><span class="valign">Главное меню</span></a>
    </div>
    <div>
        <a id="" class="waves-effect waves-teal btn-flat btn-large dashboard-item dashboard-item-50 blue lighten-2 valign-wrapper"><span class="valign">Главное меню</span></a>
    </div>
    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>

    <div>
        Редактор
    </div>
</div>

<style>
#editor-menu { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 300px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
   }
 #editor-content { /* Правая колонка */
    margin: 10px 5px 20px 325px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
   }
</style>
