<script src="/mvc/controller/prj/editor-helpers.js"></script>

<div id="list-projects" class="collection">
</div>

<div class="fixed-action-btn horizontal">
    <a id="btnAddProject" class="btn-floating btn-large waves-effect waves-light amber darken-2"><i class="material-icons">add</i></a>
</div>

<div id="modal-prj-name" class="modal">
    <div class="modal-content">
        <h4>Новый проект</h4>
        <form id="modal-prj-form" class="col s12" action="api/prj" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="prjName" name="prjName" type="text" class="validate" value="Базовый">
                    <label for="prjName">Имя проекта</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info_outline</i>
                    <input id="prjDescription" name="prjDescription" type="text" class="validate" value="Проект с системными и базовыми классами">
                    <label for="prjDescription">Комментарий</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-prj-name-cancel" class="modal-action waves-effect btn-flat btn-margin8">Отмена</button>
                <button class="modal-action waves-effect btn-flat btn-margin8" type="submit" name="new">Создать</button>
            </div>
        </form>
    </div>
</div>

<script id="list-projects-item-template" type="text/x-dpas-tmpl">
    <a href="#!" id="{Code}" data-id="{Code}" class="collection-item">
        <span class="title">{Name}</span><p>{Description}</p>
    </a>
</script>
